<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635403852153-b8e9bejgiooi6qulfjiblfti57roepr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635403852153-b8e9bejgiooi6qulfjiblfti57roepr3</string>
	<key>API_KEY</key>
	<string>AIzaSyDa72OjFWR60gHnuOjLnr3hsuvxLFJK1-o</string>
	<key>GCM_SENDER_ID</key>
	<string>635403852153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turbotenant.owner</string>
	<key>PROJECT_ID</key>
	<string>landlords-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>landlords-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635403852153:ios:51c6d7dd0609d9ca0db7a8</string>
</dict>
</plist>